.btn {
    display: inline-block;
    padding: .4em .6em;
    background-color: #fff;
    border: none;
    
    &--black {
        background-color: var(--fontColor);
        color: #fff;
        cursor: pointer;
        transition-duration: .3s;

        &:hover {
            background-color: var(--mainColor);

        }
    }
}