:root {
    --mainColor: hsl(42, 29%, 66%);
    --secondaryColor: hsl(0, 0%, 28%);
    --tertiaryColor: hsl(0, 0%, 28%);    
    --fontColor: hsl(0, 0%, 28%);
    --titleColor: var(--mainColor);
}